.bar {
  color: white;
  background-color: transparent;
}

.widget {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  border-radius: 30px;
  background-color: rgba($color: #4E3533, $alpha: .9);
  margin-right: 10px;
}

.highlight {
  font-weight: bold;
  color: rgb(205, 152, 188);
}

scale trough {
  border-radius: 10px;
  background-color: #876c6b;
  min-height: 5px;
  border-radius: 20px;
}

scale highlight {
  background-color: rgb(205, 152, 188);
  border-radius: 20px;
}

scale slider {
  background-color: transparent;
  border: 0;
}

button {
  background-color: transparent;
  border: 0;
  color: white;
}

.workspaces {
  margin-left: 10px;
}